<html>

  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>

  <body>

    <nav>
      <a href='/'>Home</a>

      {{#if user}}

        <!-- <a href='/logout'>Logout</a> -->

        <form action='/logout' method='POST'>
          <button>Logout</button>
        </form>

        <a href='/profile'> See Profile</a>

      {{else}}
        <a href='/login'>Login</a>
        <a href='/register'>Sign Up</a>

      {{/if}}
    </nav>
    {{{body}}}
  </body>

</html>