<div>

  <h1>Login to your account:</h1>

  <form action='/login' method='POST'>

    <label for=''>User name:</label>
    <input type='text' name='username' placeholder='User name...' />

    <label for=''>Password:</label>
    <input type='password' name='password' placeholder='Password...' />

    <button>Login!</button>
  </form>

</div>